body{
    font-family:cursive;
    margin:0px;
}
.navbar{
    text-align:center;
    background-color:white;
    padding:20px 15px;
    position: sticky;
    top:0;
    z-index:20;
}
.navbar ul{
     list-style:none;
}
.navbar li{
    display:inline;
    text-align:center;
}
.navbar li a{
    text-decoration:none;
    font-size:1.3rem;
    margin:0px 50px;
    color:black;
}
.navbar li a:hover{
    color:blue;
}
.highlight{
    border-bottom:2px solid red;
}
.image1{
    background-image:linear-gradient(rgba(63, 63, 63, 0.75),rgba(63, 63, 63, 0.75)),url(../images/car-2.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    /* opacity:0.6; */
    height:100vh;
    width:100%;
    background-attachment: fixed;
}
.image2{
    background-image:linear-gradient(rgba(63, 63, 63, 0.75),rgba(63, 63, 63, 0.75)),url(../images/car-1.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    /* opacity:0.6; */
    min-height:500px;
    width:100%;
    background-attachment: fixed;
}
.image3{
    background-image:linear-gradient(rgba(63, 63, 63, 0.75),rgba(63, 63, 63, 0.75)),url(../images/car-4.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    /* opacity:0.6; */
   min-height:500px;
    width:100%;
    background-attachment: fixed;
}
.btn{
  position:relative;
  top:40%;
  left:30%;
  padding:10px 25px;
  letter-spacing:0.6em;
  text-transform:uppercase;
  font-size:30px;
  background:brown;
  border:none;
  font-weight:bold;
  color:white;
}

/* Section Area  */

.sec-1{
     text-align:center;
     padding:40px 60px;
}
.sec-2{
    text-align:center;
    padding:40px 60px;
}
.sec-3{
    text-align:center;
    padding:40px 60px;
}
.text1{
   text-align:center;
   padding-top:200px;
}
.car-name1{
    font-size:30px;
    color:white;
}
.text2{
    text-align:center;
    padding-top:200px;
 }
 .car-name2{
     font-size:30px;
     color:white;
 }

 /* About */
 .container{
    display:grid;
    grid-template-columns:1fr 1fr;
 }
 .Img1{
    background-image: url(../images/car-3.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height: 100vh;
 }
 .griditem2{
    background-color:yellow;
 }
 .box-1{
    text-align:center;
   position:relative;
   left:10%;
   top:10%;
   background-color: brown;
   color:white;
   width:100px;
   height: 300px;
 }