*{
    margin:0px;
    padding:0px;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    text-align:center;
    background-color:black;
    padding:20px 15px;
    position: sticky;
    top:0;
    z-index:20;
   
}
.navbar ul{
     list-style:none;
}
.navbar li{
    display:inline;
    text-align:center;
}
.navbar li a{
    text-decoration:none;
    font-size:1rem;
    color:white;
    margin:0px 50px;
}
.navbar li a:hover{
    color:blue;
}
.image1{
    background-image:linear-gradient(rgba(63, 63, 63, 0.75),rgba(63, 63, 63, 0.75)),url(../images/car-2.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    /* opacity:0.6; */
    height:100vh;
    width:100%;
    background-attachment: fixed;
}
.image2{
    background-image:linear-gradient(rgba(63, 63, 63, 0.75),rgba(63, 63, 63, 0.75)),url(../images/car-1.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    /* opacity:0.6; */
    min-height:500px;
    width:100%;
    background-attachment: fixed;
}
.image3{
    background-image:linear-gradient(rgba(63, 63, 63, 0.75),rgba(63, 63, 63, 0.75)),url(../images/car-4.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    /* opacity:0.6; */
   min-height:500px;
    width:100%;
    background-attachment: fixed;
}
.btn{
  position:relative;
  top:40%;
  left:30%;
  padding:10px 25px;
  letter-spacing:0.6em;
  text-transform:uppercase;
  font-size:30px;
  background:brown;
  border:none;
  font-weight:bold;
  color:white;
}