*{
    padding:0px;
}
body{
    font-family:'Courier New', Courier, monospace;
}
.navbar{
    display:flex;
    justify-content:center;
    /* border:2px solid red; */
    /* align-items:center; */
}
.navbar ul{
     list-style:none;
}
.navbar li{
    display:inline;
}
.navbar li a{
    text-decoration:none;
    color:black;
    margin:0px 50px;
}
.navbar li a:hover{
    color:blue;
    /* border-bottom:3px solid grey; */
}
.image1{
    background-image:url(../images/car-2.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0.6;
    height:100vh;
    width:100%;
    background-attachment: fixed;
}
.image2{
    background-image:url(../images/car-1.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0.6;
    min-height:500px;
    width:100%;
    background-attachment: fixed;
}
.image3{
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/car-3.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0.6;
   min-height:500px;
    width:100%;
    background-attachment: fixed;
}
.btn{
  position:relative;
  top:30%;
  left:30%;
  padding:10px 25px;
  letter-spacing:0.6em;
  text-transform:uppercase;
  font-size:30px;
  background:transparent;
  border:none;
  font-weight:bold;
  color:brown;
}